{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": ["./src"],
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@themes": "./src/themes"
        }
      }
    ]
  ]
}
