{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": ["./src"],
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@themes": "./src/themes"
        }
      },
      "@emotion"
    ]
  ]
}
