.header {
  .nav-wrapper {
    // display: none;
    display: inline-block;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: all linear 0.25s;
    background: transparent;
    z-index: 9999;
  }

  .nav-wrapper.nav-active {
    transform: translateX(0);
    background: rgba(0, 0, 0, 0.8);
  }

  .nav-mobile {
    list-style: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 12;
    overflow: auto;
    padding: 40px;
    &-item {
      padding: 8px 0;
    }
  }

  .nav-mobile a {
    width: 100vw;
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }

  .connect-wallet-btn {
    height: 36px;
    min-width: 64px;
    padding: 0 10px;
    background: #00050a;
    color: #ffffff;
    border: thin solid currentColor;
    border-radius: 4px;
  }
  .btn-address {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: rgb(248, 176, 23);
    margin-right: 10px;
    font-size: 11px;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 28px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    .button {
      padding: 10px 2px;
    }
  }

  /* Dropdown Content (Hidden by Default) */

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -60px;
    top: 35px;
    text-align: left;
    border-radius: 4px;
  }

  /* Links inside the dropdown */

  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */

  .dropdown-content div:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
